.my-swiper-unique-container {
    position: relative;
}

.my-swiper-unique-nav-controls {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
}

.my-swiper-unique-btns-wrapper {
    display: flex;
    gap: 8px;
    align-items: center;
}

.my-swiper-unique-btn-circle {
    width: 36px;
    height: 36px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    background: #fff;
}

.my-swiper-unique-btn-circle:hover {
    transform: scale(1.1);
    border-color: #999;
}

.my-swiper-unique-btn-circle svg {
    width: 18px;
    height: 18px;
    stroke: #333;
}

.my-swiper-unique-nav-title {
    color: #333;
    font-size: 17px;
    font-weight: bold;
}

.my-swiper-unique-swiper {
    width: 100%;
    height: 500px;
    margin-top: 20px;
    position: relative;
    background: transparent;
}

.my-swiper-unique-wrapper {
    gap: 4px !important;
}

.my-swiper-unique-slide {
    width: 400px;
    height: 60px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #000;
    position: relative;
    overflow: hidden;
    transition:
        all 0.35s ease,
        opacity 0.35s ease;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    opacity: 0.3;
}

.my-swiper-unique-slide-active {
    height: 180px !important;
    box-shadow: 0 12px 22px rgba(0, 0, 0, 0.18);
    opacity: 1;
}

.my-swiper-unique-slide::after {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: calc(100%+40px);
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.95),
        rgba(255, 255, 255, 0) 30%,
        rgba(255, 255, 255, 0) 70%,
        rgba(255, 255, 255, 0.95)
    );
    pointer-events: none;
    border-radius: 20px;
    transition: opacity 0.35s ease;
}

.my-swiper-unique-slide-active::after {
    opacity: 0;
}

.my-swiper-unique-slide-content {
    width: 100%;
    padding: 20px 26px;
    box-sizing: border-box;
}

.my-swiper-unique-slide-header {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
}

.my-swiper-unique-slide-header svg {
    width: 20px;
    height: 20px;
}

.my-swiper-unique-slide-caption {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.7;
    color: #555;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.35s ease;
}

.my-swiper-unique-slide-active .my-swiper-unique-slide-caption {
    max-height: 80px;
    opacity: 1;
}
